<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAT Validator</title>
    {% block javascripts %}
        <link rel="stylesheet "href="{{ asset('assets/css/style.css')}}"
    {%endblock %}
</head>

<body>

    <div class="vatvalidator">
        <h1>VAT Number Validator</h1>

        <div class="backMessage">
            {% if validation_result is defined %}
                <p class="message {% if validation_result.success %}success-message{% else %}error-message{% endif %}">
                    {{ validation_result.message }}
                </p>

                {% if validation_result.success %}
                    <div class="companyInfo">
                        <p>
                            <span class="company-label">Company Name:</span>
                            <span class="company-name">{{ validation_result.company_name }}</span>
                        </p>
                        <p>
                            <span class="company-label">Address:</span>
                            <span class="company-name">{{ validation_result.address }}</span>
                        </p>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <form method="POST" action="{{ path('validate_vat') }}">
            <input type="text" name="vat_number" placeholder="VAT Number" required>
            <button type="submit">Check</button>
        </form>

        <div class="logoutButton">
            <button id="logoutButton">Logout</button>
        </div>
    </div>

    {% block javascriptsLogout %}
        <script src="{{ asset('assets/js/logout.js')}}"
    {%endblock %}

</body>

</html>
